<div class="about-container">
  <div class="logo-about"></div>
  <div class="right-content">
    <div class="title">About us</div>
    <div class="description">Traveling can be an exhausting experience. Enter Skotels, where style, comfort and hospitability meet.
      Our commitment to quality, exceptional services an incomparable customer care keep our community coming back again and again. Take a look at our site to find more about hotels and check out  the services that we offer. Can't find what you're looking for? Contact us!
      <div class="bold">
        info@skotels.com
        123-456-789
      </div>
      </div>
  </div>
</div>
