.about-container{
  height: 100%;
  top:200px;
  text-align: center;
  overflow-y: scroll;
}
.pictures {
  width: 100%;
  height: 100%;
}
.image-grid{
  box-sizing: border-box;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 5px;
}
.image-grid-col-2{
  grid-column: span 2;
}
.image-grid-row-2{
  grid-row: span 2;
}
.title {
  margin-bottom: 20px;
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: bold;
}
.right-content {
  margin-top: 110px;
  margin-bottom: 30px;
}
.description {
  font-size: 22px;
}
.bold {
  font-weight: bold;
  margin-top: 50px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media(max-width: 740px) {
  .logo-about{
    display: none;
  }
  .right-content{
    width: 100%;
  }
}
.shine-box {
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  justify-content: center;
  font-family: Hack, sans-serif;
  background: linear-gradient(90deg, #000, #28bdd6, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 90%;
  animation: shine 5s linear infinite;
  position: relative;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
