.about-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  top:200px;
}
.logo-about {
  background-image: url("../../assets/logo.PNG");
  background-size: cover;
  width: 60%;
  height: 100%;
  left: 0;
}
.title {
  margin-bottom: 20px;
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: bold;
}
.right-content {
  width: 40%;
  margin-right: 65px;
  margin-left: 65px;
  margin-top: 110px;
}

.description {
  font-size: 22px;
}
.bold {
  font-weight: bold;
  margin-top: 50px;
}
@media(max-width: 740px) {
  .logo-about{
    display: none;
  }
  .right-content{
    width: 100%;
  }
}
