.container {
  padding:20px;
  height: 850px;
  /*width: 900px;*/
  display: flex;
  flex-direction: column;

}
.hotel-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.hotel-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  background-image: url("../../assets/hotel-description.jpeg");
  background-size: cover;
  /*box-sizing: border-box;*/
  height: 200px;
  width: 300px;
}
.other-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

