<div class="container">
  <div class="hotel-name"><div class="text">{{hotel?.name}}</div></div>
  <div class="hotel-image"><div class="img"></div></div>
  <div class="other-info">
    <div class="info-left">
        <div class="info-item">Email: {{hotel?.email}}</div>
        <div class="info-item">Phone: {{hotel?.phone}}</div>
        <div class="info-item">Website: {{hotel?.website}}</div>
        <div class="info-item">City: {{hotel?.city}}</div>
<!--        <div class="info-item"></div>-->
    </div>
    <div class="info-right">
        <div class="info-item">Street: {{hotel?.street}}</div>
        <div class="info-item">Stars: {{hotel?.stars}}</div>
        <div class="info-item">Internet access: {{hotel?.internetAccess}}</div>
        <div class="info-item">Rooms: {{hotel?.rooms}}</div>
<!--        <div class="info-item"></div>-->
<!--        <div class="info-item"></div>-->
<!--        <div class="info-item"></div>-->
    </div>

  </div>
</div>
