<div class="login-container">
<div class="wrapper">
  <div class="header">
    <div>LOG IN</div>
  </div>
  <div class="login">
    <form [formGroup]="loginFG">
      <div class="field">
        <input type="text" placeholder="Username" formControlName="username" required class="username-input">
      </div>
      <div class="field">
        <input type="password" placeholder="Password" formControlName="password" required class="password-input">
      </div>
      <div class="message-alert" *ngIf="error">
        Username or password is incorrect
      </div>
    </form>
    <div class="buttonDiv">
      <button type="button" (click)="login()" class="log-in-button" [ngClass]="{'disabled': !loginFG.valid}">SIGN IN</button>
    </div>
  </div>
  <div class="signup" (click)="goToSignUp()">
    <p>
      <a>Don't have an account? Sign up</a>
    </p>
  </div>
</div>
</div>
