.login {
  overflow: hidden;
  background-image: linear-gradient(black,gray);
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 3px 20px gray;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.login-container {
  display: flex;
  justify-content: center;
  padding-top: 300px;
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  height: 100%;
}
.username-input, .password-input {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.message-alert {
  color: red;
  display: flex;
  justify-content: center;
}
.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 65px;
  min-height: 65px;
}
.log-in-button {
  cursor: pointer;
  color: whitesmoke;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: black;
}

.header {
  margin: 20px;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in-button {
  cursor: pointer;
  color: whitesmoke;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: black;
}
.signup {
  font-size: 24px;
  display: flex;
  justify-content: center;


}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}
