
<div class="hotels-container">
  <div class="title-container"> <div class="title">Hotels</div></div>
  <div class="search"><input type="text" placeholder="Find a hotel" name="search" [(ngModel)]="searchText" autocomplete="off" ></div>
  <div class="sort"><button (click)="sortByStars()">Sort by stars</button></div>
  <div class="sort"><button (click)="sortAlphabetic()">Sort by name</button></div>
  <div class="sort" *ngIf="user!=null"><button *ngIf="user.role==='ROLE_ADMIN'" (click)="addHotel()">Add hotel</button></div>
  <div class="hotel-list">
    <div class="hotel-card" *ngFor="let h of hotels | filter:searchText; let i = index">
      <div class="hotel-name">{{h.name}}
        <span *ngIf="user!=null"><span *ngIf="user.role==='ROLE_ADMIN'" class="material-icons delete" (click)="hotelIndex=i;confirmationModal.show()">delete</span></span>
      </div>
        <div class="map">
          <div class="map-image">
            <div class="darken-image"></div>
          <div class="map-image-text" (click)="showMap(h)"> Show on map</div>
        </div>
      </div>
      <div class="buttons">
        <button><a href="https://www.booking.com/">Book now</a></button>
          <button (click)="showInfo(h)">Show more info</button>
      </div>
    </div>
  </div>
</div>

<app-modal #hotelInfo [modalTitle]="'Hotel information'" [height]="500" [width]="900">
  <app-hotel-info [hotel]="currentHotel"  (hideModal)="closeModal()"></app-hotel-info>
</app-modal>
<app-modal #hotelMap [modalTitle]="'Hotel map'" [height]="700" [width]="900">
  <app-hotel-map [location]="location" (hideModal)="closeModal()"></app-hotel-map>
</app-modal>

<app-modal #confirmationModal [modalTitle]="'Delete a hotel'" [height]="200">
  <div class="modal-container">
    <div class="modal-title">
     Are you sure you want to delete the hotel?
    </div>
    <div class="modal-buttons-row">
      <div class="modal-button" (click)="deleteHotel(hotelIndex); confirmationModal.hide()">
        Yes
      </div>
      <div class="modal-button" (click)="confirmationModal.hide()">
        No
      </div>
    </div>
  </div>
</app-modal>


