<div class="login-container">
  <div class="wrapper">
    <div class="header">
      <div>SIGN UP</div>
    </div>
    <div class="login">
      <form [formGroup]="signUpFG">
        <div class="field">
          <input type="text" placeholder="Enter username" formControlName="username" required class="username-input">
        </div>
        <div class="field">
          <input type="password" placeholder="Enter password" formControlName="password" required class="password-input">
        </div>
        <div class="field">
          <input type="password" placeholder="Confirm password" formControlName="repeatPassword" required class="username-input">
        </div>
          <div class="invalid-feedback" *ngIf="signUpFG.errors?.mismatch && (signUpFG.controls['repeatPassword'].dirty || signUpFG.controls['repeatPassword'].touched)">
              Passwords don't match.
          </div>
      </form>
      <div class="buttonDiv">
        <button type="button" class="log-in-button" (click)="onSubmit()" [ngClass]="{'disabled': !signUpFG.valid}">SIGN UP</button>
      </div>
    </div>
  </div>
</div>

