.container {
  padding:20px;
  height: 870px;
  /*width: 900px;*/
  display: flex;
  flex-direction: column;

}
@media (max-width: 1050px) {
  iframe {
    width: 300px!important;
    height: 400px!important;
  }
}
