/* You can add global styles to this file, and also import other style files */
html {

  font-family: sans-serif, "Helvetica Neue"
}

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}
