.modal {
  background-color: rgb(253, 246, 238);
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px lightgray;
  position: fixed;
  max-width: 800px;
  max-height: 800px;
  min-width: 400px;
  z-index: 1000;
}
.modal-header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background-image: linear-gradient(135deg,#c79288,#ddbeb8);
  justify-content: space-between;
  color: white;
  border-radius: 9px;
  font-weight: bold;
}

.material-icons{
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
}
.material-icons:hover {
  cursor: pointer;
}

