<div class="container">
  <h2 class="shine-box">Add hotel</h2>
  <div class="wrapper">
    <form [formGroup]="hotelsFG">
      <div class="inputs">
        <span class="inline">
          <span class="asterics">*</span>
          <input type="text" placeholder="Name" formControlName='name'>
          <input type="text" placeholder="Email" formControlName="email">
        </span>
      </div>
      <div class="inputs">
        <span class="asterics">*</span>
        <input type="text" placeholder="Location - link from Google Maps" formControlName="location">
      </div>
      <div class="inputs">
        <span class="asterics">*</span>
        <input type="text" placeholder="Address" formControlName="addrStreet">
      </div>
      <div class="inputs">
        <span class="inline">
          <input type="text" placeholder="Latitude" formControlName="latitude">
          <input type="text" placeholder="Longitude" formControlName="longitude">
        </span>
      </div>
      <div class="inputs">
        <input type="text" placeholder="Website" formControlName="website">
      </div>
      <div class="inputs">
        <span class="inline">
          <input type="text" placeholder="Rooms" formControlName="rooms">
          <input type="text" placeholder="Phone" formControlName="phone">
        </span>
      </div>

      <div class="inputs">
        <input type="text" placeholder="Internet Access" formControlName="internetAccess">
      </div>
      <div class="inputs">
        <span class="asterics">*</span>
        <input type="text" placeholder="Stars" formControlName="stars">
      </div>

    </form>
  </div>
  <div class="buttons">
<!--    <button class="save" *ngIf="saveEditButton"  (click)="sumbitHotel()" [ngClass]="{'disabled': !hotelsFG.valid}">Зачувај</button>-->
<!--    <button class="save" *ngIf="!saveEditButton" (click)="submitChanges()">Промени</button>-->
    <button class="save" (click)="submitHotel()" [ngClass]="{'disabled': !hotelsFG.valid}">Save</button>
    <button class="discard" (click)="discard()">Discard</button>
  </div>
</div>

