.container {
  margin-left: 240px;
  height: 100%;
  padding: 20px;
  margin-top: 70px;
}

h2 {
  font-size: 26px;
}
.material-icons{
  vertical-align: middle;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputs {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
label {
  min-width: 200px;
  height: 100%;
  box-sizing: border-box;
}
input {
  min-width: 256px;
  padding: 10px 20px;
  font-size: 18px;
}
input:hover{
  box-shadow: 0 1px 20px #FFCD53;
  cursor: pointer;
  transition: 0.4s;
}
.city-select {
  height: 45px;
  padding: 10px 20px;
  min-width: 300px;
}

.buttons{
  display: flex;
  flex-direction: row;
}
button{
  margin-left: 5px;
  margin-right: 5px;
}
.save{
  cursor: pointer;
  color: black;
  font-size: 12px;
  width: 150px;
  border: 1px solid lightgray;
  padding: 10px 0;
  margin-top: 15px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 15px;
}
.save:hover , .discard:hover{
  background-color: lightgray;
}
.discard{
  cursor: pointer;
  color: black;
  font-size: 12px;
  width: 150px;
  border: 1px solid lightgray;
  padding: 10px 0;
  margin-top: 15px;
  border-radius: 5px;
  background-color: lightgray;
  margin-bottom: 15px;
}

.disabled {
  background-color: lightgray!important;
  color: grey!important;
  pointer-events: none;
}
.asterics{
  color: red;
  vertical-align: top;
  size: 15px;
}
