<div class="container">
  <h2>Add hotel</h2>
  <div class="wrapper">
    <form [formGroup]="hotelsFG">
      <div class="inputs">
        <label> Name  <span class="asterics">*</span></label>
        <input type="text" formControlName='name'>
      </div>
      <div class="inputs">
        <label>
          Address
        </label>
        <input type="text" formControlName="address">
      </div>
      <div class="inputs">
        <label>
          City
        </label>
        <input type="text" formControlName="city">
      </div>

      <div class="inputs">
        <label>
          Phone
        </label>
        <input type="text" formControlName="phone">

      </div>
      <div class="inputs">
        <label>
          Website
        </label>
        <input type="text" formControlName="website">
      </div>
      <div class="inputs">
        <label>
          Email
        </label>
        <input type="text" formControlName="email">
      </div>
      <div class="inputs">
        <label>
          Stars
        </label>
        <input type="text" formControlName="stars">
      </div>
      <div class="inputs">
        <label>
          Internet access
        </label>
        <input type="text" formControlName="internetAccess">
      </div>
      <div class="inputs">
        <label>
          Rooms
        </label>
        <input type="text" formControlName="rooms">
      </div>
      <div class="inputs">
        <label>
          Latitude
        </label>
        <input type="text" formControlName="latitude">
      </div>
      <div class="inputs">
        <label>
          Longitude
        </label>
        <input type="text" formControlName="longitude">
      </div>

    </form>
  </div>
  <div class="buttons">
<!--    <button class="save" *ngIf="saveEditButton"  (click)="sumbitHotel()" [ngClass]="{'disabled': !hotelsFG.valid}">Зачувај</button>-->
<!--    <button class="save" *ngIf="!saveEditButton" (click)="submitChanges()">Промени</button>-->
    <button class="save"(click)="sumbitHotel()" [ngClass]="{'disabled': !hotelsFG.valid}">Save</button>
    <button class="discard" (click)="discard()">Discard</button>
  </div>
</div>

