<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="hotel-name"><div class="text">{{hotel?.name}}</div></div>
  <div class="hotel-image"><div class="img"></div></div>
  <div class="other-info">
    <div class="info-left">
        <div class="info-item">Email: {{hotel?.email}}</div>
        <div class="info-item">Phone: {{hotel?.phone}}</div>
        <div class="info-item">Website: {{hotel?.website}}</div>
        <div class="info-item">City: Skopje</div>
    </div>
    <div class="info-right">
        <div class="info-item">Street: {{hotel?.address}}</div>
        <div class="info-item">Stars: {{hotel?.stars}}</div>
        <div class="info-item">Internet access: {{hotel?.internetAccess}}</div>
        <div class="info-item">Rooms: {{hotel?.rooms}}</div>
    </div>
  </div>
    <div class="starPosition">
        <div *ngFor="let star of starList;">
            <div style="float:left;" *ngIf="star<=hotel.stars">
                <span class="fa-2x fa fa-star checked starSize"></span>
            </div>
            <div style="float:left;" *ngIf="star>hotel.stars">
                <span class="fa-2x fa fa-star starSize"></span>
            </div>
        </div>
    </div>
</div>
