.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.gallery > div {
    flex-grow: 2;
    width: 50%;
    max-width: 50%;
}
.gallery img {
    width: 100%;
    height: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.flex-row-review{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.flex-col{
    padding: 15px;
    margin: 0 15px;
}
.flex-row-multicolum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
}
.flex-row-multicolum .flex-col{ width: 40%; margin: 0 15px 15px}

.checked {
    color: orange;
}
.starSize {
    margin-left: 5px;
    margin-right: 10px;
}
.starPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotel-name {
    margin-bottom: 20px;
    font-family: Tahoma ;
    color: #28bdd6;
}
.space{
    margin-bottom: 50px;
}
.dropdown-content-btn{
    color: white;
    border: none;
    background-color: #28bdd6 ;
    border-radius: 15px;
    width: 140px;
    height: 35px;
    font-size: 13px;
}