.container {
  padding:20px;
  height: 907px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #000, #28bdd6, #000);
}
.hotel-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.hotel-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  margin-top: 40px;
  background-image: url("../../assets/hotel-description.jpeg");
  background-size: cover;
  height: 300px;
  width: 600px;
  border-radius: 10px;

}
.other-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.info-left {
  margin: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  justify-content: space-between;
  font-family: Hack, sans-serif;
  color:white;

}
.info-right {
  margin: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  justify-content: space-between;
  font-family: Hack, sans-serif;
  color: white;
}
.checked {
  color: orange;
}
.starSize {
  margin-left: 10px;
  margin-right: 10px;
}
.starPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
